
.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal .slides {
    text-align: left;
}
/*
.reveal .slides section>* {
    margin-left: 10%;
    margin-right: 10%;
}
*/
/* slide-title settint */

.level1>h1 {
  margin-top: 25%;
}
span.header-section-number {
  margin-right: 0.5em;
}
.reveal li {
  margin-top:0.2em;
}
.reveal ul ul li {
  font-size:0.85em;
  margin-top:0;
}


/* Open Sans 
@import url(#{$font-family-open-sans-import-path}); */
  
/* Yu Gothic (for Windows) */
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
  
/* Yu Mincho (for Windows) */
@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho Bold");
    font-weight: bold;
}
